@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

:root {
  --color-body: #e5e5e5;
  --color-accent: #6070ff;
  --color-text: #7f8cff;
  --color-headings: #172b4d;
  --color-paragraphs: hsl(218, 31%, 30%);
  --white: #fff;
  --border: border-bottom-left-radius;
  --font-family-style: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  font-family: var(--font-family-style);
}

body {
  font-family: var(--font-family-style);
  font-size: 1.6rem;
  background: var(--color-body);
}

/* Header  Base Layout Section */
.header {
  background: var(--white);
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  z-index: 1;
}

/* Headline  Base Layout Section */
.headline-section {
  position: relative;
  height: 100vh;
  background-image: url("/assets/header-shapes-mobile.jpg");
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 75px;
}

/* Work  Base Layout Section */
.works-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 10rem;
}
