* {
  list-style: none;
  text-decoration: none;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-body: #e5e5e5;
  --color-accent: #6070ff;
  --color-text: #7f8cff;
  --color-headings: #172b4d;
  --white: #fff;
  --border: border-bottom-left-radius;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 375px;
  top: 4769px;
}
