body {
  background-repeat: no-repeat;
  padding: 24px;
}

.toolbar {
  height: 28px;
  left: 12px;
  top: 10px;
  padding-left: 0%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  color: #28352f;
  list-style: none;
  background-image: url("Rectangle4.png");
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  margin-top: 114 px;
  height: 718px;
  background-image: url("/assets/header-shapes.png");
  background-repeat: no-repeat;
}

.toolbar nav {
  display: flex;
  justify-content: space-between;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-bottom: 0%;
}

.headline h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  margin-left: 0%;
  margin-top: 0%;
  color: #396df2;
  width: fit-content;
  border: 2px solid;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 120px;
}

.content {
  left: 24px;
  top: 314px;
  margin: 2px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0%;
  margin-bottom: 0%;
  color: #172b4d;
}

.connect {
  padding-top: 2px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 18px;
  color: #7f8cff;
}

.headline img {
  margin-top: 10px;
  width: fit-content;
}

.social-links {
  margin-top: 5px;
  width: 136px;
  list-style: none;
  padding: 2px 2px;
  margin-left: 0%;
  display: flex;
  justify-content: space-between;
}

.rectangle4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 165.79px;
  background: hsl(240, 100%, 96%);
  transform: rotate(-30deg);
  background-repeat: no-repeat;
}