html {
  padding: 24px;
}

.toolbar {
  /* Welcome */
  height: 28px;
  left: 12px;
  top: 10px;
  padding-left: 0%;

  /* Theme 2 / Subhead 1 */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */
  display: flex;
  justify-content: space-between;

  /* Theme 2 / Neutral 1 */
  color: #28352f;

  /* changing list style */
  list-style: none;
}

a {
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  margin-top: 114 px;
  height: 718px;
}

.headline h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-bottom: 0%;
}

.headline h3 {
  /* Button /Normal */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  margin-left: 0%;
  margin-top: 0%;

  /* Primary/B500 */
  color: #396df2;
  width: fit-content;
  border: 2px solid;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 120px;
}

.headline p {
  /* Supporting Text */
  left: 24px;
  top: 314px;
  margin: 2px;

  /* Theme 2 / Body Reguler 1 */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0%;
  margin-bottom: 0%;

  /* Neutrals/N800 */
  color: #172b4d;
}

.headline span {
  padding-top: 2px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Neutrals/N500 */
  margin-top: 18px;
  color: #7f8cff;
}

.headline img {
  margin-top: 10px;
  width: fit-content;
}

body {
  background-image: url("/header-shapes.png");
  background-repeat: no-repeat;
}

.Social {
  margin-top: 5px;
  width: 136px;
  list-style: none;
  padding: 2px 2px;
  margin-left: 0%;
  display: flex;
  justify-content: space-between;
}

/* Work section */
.Work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Work h3 {
  /* Button /Normal */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  margin-left: 15px;

  /* Primary/B500 */
  color: #396df2;
  width: fit-content;
  border: 2px solid;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 120px;
}

.item {
  display: grid;
  grid-template-rows: 220px 0fr 0fr 0fr;
  border: 2px solid rgb(252, 245, 245);
  border-radius: 8px;
}

.item img {
  grid-area: 1/1;
}

.item h1 {
  grid-area: 2/1;
  padding-bottom: 0%;
  margin-bottom: 0%;
  font-size: 32px;
}

.List {
  grid-area: 3/1;
  margin-top: 20px;
  margin-left: 0%;
  padding-left: 0%;
  padding-right: 75px;
  padding-top: 0%;
  padding-bottom: 0%;
  height: fit-content;
  display: flex;
  justify-content: space-between;

  /* Caption / 1 - Bolder */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */
  color: #7a869a;
}

.List .List-1st {
  list-style: none;

  /* Caption / 1 - Bolder */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N600 */
  color: #344563;
}

.item p {
  padding-top: 0%;
  margin-top: 20px;

  /* Body / 3 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  /* Neutrals/N600 */
  color: #344563;

  /* grid */
  grid-area: 4/1;
  text-align: left;
}

/* Work List html css javaScript */
.Work-List {
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 0%;
  padding-right: 75px;
  padding-top: 0%;
  padding-bottom: 0%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.Work-List li {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  position: static;
  width: fit-content;

  /* Button / Small */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* Primary/B400 */
  color: #6070ff;
}
